body {
	font-family: Helvetica, Arial, sans-serif;
}

button, input {
	border: 1px solid green;
	padding: 5px;
	font-size: 15px;
	background-color: transparent;
	border-radius: 5px;
	display: block;
	margin: 10px;
}

.get-student-info {
	display: block;
}

.student-info {
	float: left;
	background-color: #f0f0f0;
	padding: 20px;
	display: none;
}	

.student-list {
	width: 40%;
	float: left;
}

.student-list a {
	background-color: #f0f0f0;
	padding: 10px;
	border: 1px solid white;
	height: 50px;
}

.student-list a p {
	float: left;
}

.student-list a:hover {
	background-color: #00ffff;
}


.remove-btn {
	float: right;
	border: none;
}


.update-form, .add-form, .update-info {
	display: none;
}